<h1>New Question</h1>
<%= form_with model: @question do |form| %>
  <%= form.text_field :title %>
  <%= form.rich_text_area :body, class: 'trix-content' %>
  <%= form.submit 'Create Question' %>
<% end %>
